<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Overview &mdash; PikShr</title>
    <meta name="description" content="Overview and upload page for the PikShr picture sharing service"/>
    <meta name="robots" content="index,follow"/>

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
    <script language="JavaScript" type="text/javascript" src="/js/jquery.min.js">
    </script>
    <script language="JavaScript" type="text/javascript" src="/js/bootstrap.min.js">
    </script>

{{if .User}}
    <script language="JavaScript" type="text/javascript">
    function fileSelected() {
      var file = document.getElementById('imageupload').files[0];
      var indicator = document.getElementById('fileSize');

      // Clear all child nodes of the upload indicator.
      while (indicator.childNodes.length > 0)
        indicator.removeChild(indicator.firstChild);

      if (file) {
        if (file.size > 1.5*1048576) {
          indicator.appendChild(document.createTextNode(
            (Math.round(file.size * 100 / 1048576) / 100).toString() + ' MB to upload'));
        } else {
          indicator.appendChild(document.createTextNode(
            (Math.round(file.size * 100 / 1024) / 100).toString() + ' KB to upload'));
        }
      } else {
        indicator.appendChild(document.createTextNode("No file selected"));
      }
    }

    function uploadProgress(evt) {
      var indicator = document.getElementById('progress');
      if (evt.lengthComputable) {
        var percentComplete = Math.round(evt.loaded * 100 / evt.total);
        while (indicator.childNodes.length > 0)
          indicator.removeChild(indicator.firstChild);
        indicator.appendChild(document.createTextNode(percentComplete.toString() + "%"));
      } else {
        while (indicator.childNodes.length > 0)
          indicator.removeChild(indicator.firstChild);
        indicator.appendChild(document.createTextNode("? %"));
      }
    }

    function uploadComplete(evt) {
      var indicator = document.getElementById('uploadedId');
      var title = document.getElementById('title');
      var alt = document.getElementById('alt');
      var description = document.getElementById('description');
      var imageupload = document.getElementById('imageupload');
      var fsize = document.getElementById('fileSize');
      var a;

      title.value = '';
      alt.value = '';
      description.value = '';
      imageupload.value = '';

      while (indicator.childNodes.length > 0)
        indicator.removeChild(indicator.firstChild);
      while (fileSize.childNodes.length > 0)
        fileSize.removeChild(fileSize.firstChild);

      a = document.createElement('a');
      a.href = "/" + this.response;
      a.appendChild(document.createTextNode('View your new picture here.'));
      indicator.appendChild(document.createTextNode('Done! '));
      indicator.appendChild(a);
      $(indicator).removeClass("hidden");
      $(indicator).addClass("show");
      $('#uploadModal').modal('hide');
    }

    function uploadFailed(evt) {
      var indicator = document.getElementById('progress');
      while (indicator.childNodes.length > 0)
        indicator.removeChild(indicator.firstChild);
      indicator.appendChild(document.createTextNode("Upload failed!"));
    }

    function uploadCanceled(evt) {
      var indicator = document.getElementById('progress');
      while (indicator.childNodes.length > 0)
        indicator.removeChild(indicator.firstChild);
      indicator.appendChild(document.createTextNode("Upload canceled!"));
    }

    function uploadFile() {
      var xhr = new XMLHttpRequest();
      var fd = new FormData();
      var title = document.getElementById('title');
      var alt = document.getElementById('alt');
      var description = document.getElementById('description');
      var imageupload = document.getElementById('imageupload');

      fd.append("outform", "json");
      fd.append("title", title.value);
      fd.append("alt", alt.value);
      fd.append("description", description.value);
      fd.append("imageupload", imageupload.files[0]);

      // Register event listeners.
      xhr.upload.addEventListener("progress", uploadProgress, false);
      xhr.addEventListener("load", uploadComplete, false);
      xhr.addEventListener("error", uploadFailed, false);
      xhr.addEventListener("abort", uploadCanceled, false);

      xhr.responseType = "text";

      xhr.open("POST", "/");
      xhr.send(fd);
    }
    </script>
{{end}}
  </head>
  <body>
    <div class="page-header text-center">
      <h1>PikShr <small>picture sharing</small></h1>
    </div>
    <div id="all-images-carousel" class="carousel slide pull-right" data-ride="carousel" style="height: 200px; width: 200px;">
      <ol class="carousel-indicators">
{{range $index, $pic := .AllPics}}
{{if $index|eq 0}}
        <li data-target="#all-images-carousel" data-slide-to="0" class="active"></li>
{{else}}
        <li data-target="#all-images-carousel" data-slide-to="{{$index}}"></li>
{{end}}
{{end}}
      </ol>

      <div class="carousel-inner">
{{range $index, $pic := .AllPics}}
        <div class="item{{if $index|eq 0}} active{{end}}">
          <img src="/{{$pic.Id}}.thumb.png" title="{{$pic.Title}}" alt="{{$pic.AltText}}"/>
          <div class="carousel-caption">
            {{$pic.Title}}
          </div>
        </div>
{{end}}
      </div>
 
      <a class="left carousel-control" href="#all-images-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#all-images-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
   </div>
{{if .User}}
    <div id="uploadedId" class="alert alert-info hidden"></div>
   <div id="progress" class="alert alert-info hidden"></div>

   <button class="btn btn-primary" data-toggle="modal" data-target="#uploadModal">Upload picture</button>

   <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
        aria-labelledby="uploadModalLabel" aria-hidden="true">
     <div class="modal-dialog">
       <div class="modal-content">
         <div class="modal-header">
           <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
           <h4 class="modal-title" id="uploadModalLabel">Upload new picture</h4>
         </div>
         <div class="modal-body">
           <form id="imageform" enctype="multipart/form-data" role="form"
                 class="form-horizontal">
             <input id="outform" type="hidden" name="outform" value="html"/>
             <div class="form-group">
               <label for="imageupload" class="col-sm-2 control-label">Image to upload:</label>
               <div class="col-sm-8">
                 <input id="imageupload" type="file" name="imageupload"
                        maxlength="20971520" accept="image/*" onchange="fileSelected();"
                        class="form-control" />
               </div>
               <div id="fileSize" class="col-sm-2"></div>
             </div>
             <div class="form-group">
               <label for="title" class="col-sm-2 control-label">Title</label>
               <div class="col-sm-10">
                 <input id="title" type="text" name="title" value="" required="required"
                        class="form-control" placeholder="Title to display"/>
               </div>
             </div>
             <div class="form-group">
               <label for="alt" class="col-sm-2 control-label">Alternative Text</label>
               <div class="col-sm-10">
                 <input id="alt" type="text" name="alt" value="" class="form-control"
                        placeholder="Alternative text (describe the picture)"/>
               </div>
             </div>
             <div class="form-group">
               <label for="description" class="col-sm-2 control-label">Description</label>
               <div class="col-sm-10">
                 <textarea id="description" name="description" rows="5"
                           placeholder="Long description of the picture"
                           class="form-control"></textarea>
               </div>
             </div>
           </form>
         </div>
         <div class="modal-footer">
           <div class="col-sm-offset-2 col-sm-10">
             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
             <button type="button" onclick="uploadFile();"class="btn btn-primary">Upload!</button>
           </div>
         </div>
       </div>
     </div>
   </div>
{{else}}
    <p>In order to upload pictures, please <a href="/login?redirect_uri=%2f">log in</a>.
{{end}}
  </body>
</html>
