Source: pikshr
Section: httpd
Priority: extra
Maintainer: Caoimhe Chaos <caoimhechaos@protonmail.com>
Build-Depends: debhelper (>= 9), golang-go, dh-golang,
 golang-cassandra-dev (>= 19.37.0.1), golang-ancientauth-dev,
 golang-doozer-exportedservice-dev (>= 0.3~rc1), golang-resize-dev
Standards-Version: 3.9.5
Homepage: http://pikshr.ancient-solutions.com/
Vcs-Git: http://git.ancient-solutions.com/golang/pikshr.git
Vcs-Browser: http://git.ancient-solutions.com/cgi-bin/gitweb.cgi?p=golang/pikshr.git;a=summary

Package: pikshr
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, run-as-daemon, libjs-jquery,
 libjs-twitter-bootstrap
Description: HTTP server implementing a picture sharing application
 In order to add pictures, users must be authenticated using AncientAuth.
 Currently, anybody on the internet can look at pictures, there is
 no access control mechanism yet.
